# Ignore
*
/.config
/.config/nvim/

# But not these files
!.gitignore
!.gitconfig
!.tmux.conf
!.bash_aliases
!.bash_profile
!/Makefile
!/.config/dotfiles.yml
!/.config/playbooks
!/.config/nvim/init.vim
!/.config/nvim/nerdTreeColors.vim
!/.config/nvim/snippets
