---
- hosts: localhost
  connection: local

  tasks:
    - block:
      - apt_repository: repo='ppa:neovim-ppa/unstable'

      - apt: name={{ item }} state=latest update_cache=yes
        with_items:
          - neovim
          - tmux
          - ack-grep
          - curl
          - exuberant-ctags
      become: true

    - block:
      - name: Copy dotfiles to $HOME
        local_action: synchronize src=~/dotfiles/ dest=~/

      - name: Create directory for plug.vim
        file: path=~/.config/nvim/autoload state=directory

      - name: Grab plug.vim source and write to file
        get_url:
          url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
          dest: ~/.config/nvim/autoload/plug.vim
          thirsty: yes

      - name: Install vim plugins
        command: nvim -c PlugInstall -c quitall

      - name: Grab base16-shell scripts
        git:
          repo: 'https://github.com/chriskempson/base16-shell.git'
          dest: ~/.config/base16-shell

      become: false

