---
- hosts: localhost
  connection: local
  vars:
    base16_dest: '~/.config/base16-shell'

  tasks:
    - block:
      - apt: name={{ item }} state=latest update_cache=yes
        with_items:
#          - tmux
          - ack-grep
          - curl
          - exuberant-ctags
      become: true

    - block:
      - name: Grab base16-shell scripts
        git:
          repo: 'https://github.com/chriskempson/base16-shell.git'
          dest: "{{ base16_dest }}"
          force: yes

      - name: Set permissions for base16-shell scripts
        file:
          path: "{{ item }}"
          mode: 0774
        with_fileglob: "{{ base16_dest }}/scripts/*"

      - name: Ensure bin directory exists in $HOME
        file: dest=~/bin state=directory
      become: false
